@font-face {
  font-family: 'Raleway-Variable';
  src: url('Fonts/Raleway-Variable.ttf');
}

body {
  font-family: Raleway;
  margin: 0px;
}

section {
  margin: 20px 32px;
}

.navbar {
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-link {
  padding: 17px 20px;
  text-decoration: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.info {
  display: inline-flex;
}

.info-item-icon {
  display: inline-flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid #e6e5e5;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 8px;
  color: #0065FC;
}

.fa-info {
  color: #0065FC;
  margin: 0px;
  padding-top: 5px;
}

.navbar-logo {
  width: 100px;
}

.navbar-link:hover {
  border-top: 2px solid #0065FC;
  margin-top: 0px;
}

.navbar-link-signup:hover {
  border-top: none;
}

.dream-vacation__header {
  margin-bottom: 0px;
}

.dream-vacation__paragraph {
  margin-top: 3px;
}

#location {
  padding: 0px;
  margin: 0px;
}

.search {
  display: flex;
  line-height: 0px;
  font-size: 18px;
}

.search-item-search {
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  background-color: #0065FC;
  border: 2px solid #f2f2f2;
  border-radius: 0px 20px 20px 0px;
}

.search-item-france {
  display: flex;
  padding: 5px 65px 0px 15px;
  border: 2px solid #f2f2f2;
  border-right: none;
}

.search-item-location {
  padding: 15px 20px;
  font-size: 24px;
  margin-bottom: 0px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
}

.filters {
  display: flex;
  margin-top: 20px;
  margin-left: -5px;
}

.filter-item-head {
  padding: 12px 0px;
  margin: 0px 30px 0px 0px;
}

.filter-selection {
  display: inline-flex;
  font-size: 20px;
  border: 2px solid #f2f2f2a2;
  border-left: none;
  width: auto;
  border-radius: 50px;
  margin-right: 20px;
  box-sizing: border-box;
}

.filter-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 0px;
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 30px;
}

.filter-item-text {
  padding: 13px 20px;
  font-weight: bold;
}

.accommodations-mp {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.accommodation {
  width: 62%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 20px 0px 40px;
  margin-bottom: 30px;
  margin-right: 50px;
}

.row {
  display: flex;
  flex-flow: row;
  margin-left: 0px;
  margin-bottom: 30px;
}

.column {
  margin-right: 30px;
  width: 33%;
  height: 50%;
  box-shadow: 10px 10px 10px #dbd9d9;
  transition-duration: 0.1s;
}

.Card__head {
  margin-top: 8px;
  margin-bottom: 0px;
}

.Card__text {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pic {
  background-color: white;
  width: 100%;
  height: 232px;
  object-fit: fill;
  border-radius: 1em;
  border: 5px solid white;
  cursor: pointer;
}

.pic--style {
  width: 100%;
  height: 62%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pic--text {
  padding-left: 16px;
}

.most-popular {
  width: 31%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 50px 0px 50px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.row-mp {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
}

.column-mp {
  box-shadow: 10px 10px 10px #dbd9d9;
  margin-bottom: 30px;
}

.pic-mp {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.pic--style-mp {
  width: 160px;
  height: 160px;
  border-radius: 20px 0px 0px 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.pic--text-mp {
  padding-left: 16px;
  padding-bottom: 10px;
  overflow: visible;
  line-height: 25px;
}

.most-popular-head {
  display: flex;
  flex-direction: row;
}

.most-popular-text {
  flex-grow: 1;
}

.most-popular-icon {
  font-size: 30px;
  padding-top: 15px;
}

.activites-container {
  margin-bottom: 50px;
}

.activites-row {
  display: flex;
  flex-flow: row;
  margin-left: 0px;
  height: 477px;
  margin-bottom: 40px;
}

.activites-column {
  margin-right: 50px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 15px;
}

.activites-pic {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.activites-pic--style {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.two-imgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 50px;
}

.two-imgs-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 20px;
}

.two-imgs-activites-column {
  width: 100%;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 15px;
  margin-bottom: 20px;
}

.activites-pic-big {
  width: 100%;
  height: 240px;
  border-radius: 15px;
  margin-bottom: 45px;
}

.activites-pic-style-big {
  width: 100%;
  height: 97%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activites-pic-small {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.activites-pic-style-small {
  width: 100%;
  height: 75%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ac-text {
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-flow: row wrap;
}

.about, .our {
  margin-right: 300px;
}

.l-height {
  margin-bottom: 15px;
}

.footer-link {
  text-decoration: none;
}

.footer-link:visited {
  color: black;
}

.about li:nth-child(1), .our li:nth-child(1), .assistance li:nth-child(1) {
  font-weight: bold;
}