@font-face {
  font-family: 'Raleway-Variable';
  src: url('Fonts/Raleway-Variable.ttf');
}

body {
  font-family: Raleway;
  margin: 0px;
}

section {
  margin: auto;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.navbar {
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-link {
  padding: 17px 20px;
  text-decoration: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.info {
  display: inline-flex;
}

.info-item-icon {
  display: inline-flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid #e6e5e5;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 8px;
  color: #0065FC;
}

.fa-info {
  color: #0065FC;
  margin: 0px;
  padding-top: 5px;
}

.navbar-logo {
  width: 100px;
  margin-top: -15px;
}

.navbar-link:hover {
  border-top: 2px solid #0065FC;
  margin-top: 0px;
}

.navbar-link-signup:hover {
  border-top: none;
}

.dream-vacation__header {
  margin-bottom: 0px;
}

.dream-vacation__paragraph {
  margin-top: 3px;
}

#location {
  padding: 0px;
  margin: 0px;
}

.search {
  display: flex;
  line-height: 0px;
  font-size: 18px;
}

.search-item-search {
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  background-color: #0065FC;
  border: 2px solid #f2f2f2;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}

.search-item-france {
  display: flex;
  padding: 5px 70px 0px 15px;
  border: 2px solid #f2f2f2;
  border-right: none;
}

.search-item-location {
  padding: 15px 20px;
  font-size: 24px;
  margin-bottom: 0px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
}

.short-text {
  display: none;
}

.filters {
  display: flex;
  margin-top: 20px;
}

.filter-item-head {
  padding: 12px 0px;
  margin: 0px 30px 0px 0px;
}

.filter-selection {
  display: inline-flex;
  font-size: 20px;
  border: 2px solid #f2f2f2a2;
  border-left: none;
  width: auto;
  border-radius: 50px;
  margin-right: 20px;
  box-sizing: border-box;
}

.filter-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 0px;
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 30px;
}

.filter-item-text {
  padding: 13px 20px;
  font-weight: bold;
}

.accommodations-mp {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.accommodation {
  width: 62%;
  min-width: 670px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 20px 0px 40px;
  margin-bottom: 30px;
  margin-right: 50px;
}

.row {
  display: flex;
  flex-flow: row;
  margin-left: 0px;
  margin-bottom: 30px;
}

.column {
  margin-right: 30px;
  width: 33%;
  height: 50%;
  box-shadow: 10px 10px 10px #dbd9d9;
  transition-duration: 0.1s;
}

.column:hover {
  transform: scale(1.04);
}

.Card__head {
  margin-top: 8px;
  margin-bottom: 0px;
}

.Card__text {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pic {
  background-color: white;
  width: 100%;
  height: 232px;
  object-fit: fill;
  border-radius: 1em;
  border: 5px solid white;
  cursor: pointer;
}

.pic--style {
  width: 100%;
  height: 62%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pic--text {
  padding-left: 16px;
}

.most-popular {
  width: 31%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 50px 0px 50px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.row-mp {
  display: flex;
  min-width: 355px;
  flex-direction: column;
  margin-left: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
}

.column-mp {
  box-shadow: 10px 10px 10px #dbd9d9;
  margin-bottom: 30px;
  transition-duration: 0.1s;
  border-radius: 20px;
}

.column-mp:hover {
  transform: scale(1.04);
}

.pic-mp {
  background-color: white;
  height: 160px;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.pic--style-mp {
  width: 160px;
  border-radius: 20px 0px 0px 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  object-fit: cover;
  background-size: cover;
}

.pic--text-mp {
  padding-left: 16px;
  padding-bottom: 10px;
  overflow: visible;
  line-height: 25px;
}

.most-popular-head {
  display: flex;
  flex-direction: row;
}

.most-popular-text {
  flex-grow: 1;
}

.most-popular-icon {
  font-size: 30px;
  padding-top: 15px;
}

.activites-container {
  margin-bottom: 50px;
}

.activites-row {
  display: flex;
  flex-flow: row;
  margin-left: 0px;
  height: 477px;
  margin-bottom: 40px;
}

.activites-column {
  margin-right: 50px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 15px;
  transition-duration: 0.1s;
}

.activites-column:hover {
  transform: scale(1.04);
}

.activites-pic {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.activites-pic--style {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  background-size: cover;
}

.two-imgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 50px;
}

.two-imgs-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 20px;
}

.two-imgs-activites-column {
  width: 100%;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 15px;
  margin-bottom: 20px;
  transition-duration: 0.1s;
}

.two-imgs-activites-column:hover {
  transform: scale(1.04);
}

.activites-pic-big {
  width: 100%;
  height: 240px;
  border-radius: 15px;
  margin-bottom: 45px;
  cursor: pointer;
}

.activites-pic-style-big {
  width: 100%;
  height: 97%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  background-size: cover;
}

.activites-pic-small {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.activites-pic-style-small {
  width: 100%;
  height: 75%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  background-size: cover;
}

.ac-text {
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-flow: row wrap;
  padding-top: 20px;
}

.about, .our {
  margin-right: 300px;
}

.l-height {
  margin-bottom: 15px;
}

.footer-link {
  text-decoration: none;
}

.footer-link:visited {
  color: black;
}

.about li:nth-child(1), .our li:nth-child(1), .assistance li:nth-child(1) {
  font-weight: bold;
}

@media (max-width:1050px) {
  body {
    width: 440px;
    min-width: 410px;
    margin: auto;
  }
  section {
    padding: 20px;
    margin-bottom: 190px;
  }
  #sign {
    order: 1;
  }
  #acco {
    order: 2;
  }
  #acti {
    order: 3;
  }
  .accommodation {
    min-width: 0;
  }
  .activites-row {
    min-width: 0;
  }
  .row-mp {
    min-width: 0;
  }
  .navbar {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
  }
  .navbar-logo {
    margin-right: 150px;
    margin-bottom: 15px;
  }
  .navbar-link {
    padding-left: 10px;
    padding-right: 30px;
  }
  .navbar-link__accommodations {
    margin-left: -20px;
    padding-left: 30px;
    padding-right: 50px;
    border-bottom: 4px solid #f2f2f2;
  }
  .navbar-link__activites {
    margin-right: -20px;
    padding-left: 80px;
    padding-right: 87px;
    border-bottom: 4px solid #f2f2f2;
  }
  .navbar-link:hover {
    border-bottom: 4px solid #0065FC;
    border-top: none;
  }
  .dream-vacation__header {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .dream-vacation__paragraph {
    margin-bottom: 40px;
  }
  .short-text {
    margin-top: -9px;
    display: inline-block;
  }
  .full-text {
    display: none;
  }
  .search-item-search {
    margin-left: -15px;
    border-radius: 20px;
  }
  .filters {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .filter-head {
    flex-basis: 100%;
  }
  .filter-selection {
    margin-bottom: 10px;
  }
  .filter-selection-cost {
    order: 1;
  }
  .filter-selection-friendly {
    order: 3;
  }
  .filter-selection-romantic {
    order: 2;
  }
  .filter-selection-pets {
    order: 4;
  }
  .accommodations-mp {
    display: flex;
    flex-direction: column-reverse;
  }
  .most-popular {
    width: 98%;
    margin-left: -20px;
    border-radius: 0px;
    padding: 20px 20px 0px 20px;
    ;
  }
  .pic--text-mp {
    padding-right: 10px;
  }
  .accommodation {
    width: 98%;
    background-color: white;
    margin-left: -20px;
    border-radius: 0px;
    padding: 20px 20px 0px 20px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    flex-flow: column;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .column {
    margin-bottom: 20px;
    width: 98%;
  }
  .activites-container {
    margin-bottom: 550px;
  }
  .activites-row {
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
  }
  .activites-column {
    margin-bottom: 20px;
  }
  .activites-pic {
    height: 173px;
  }
  .activites-pic--style {
    height: 130px;
  }
  .two-imgs-activites-column {
    height: 183px;
  }
  .activites-pic-big {
    height: 134px;
  }
  .activites-pic-style-small {
    height: 130px;
  }
  .ac-text {
    margin-top: 4px;
  }
  .our {
    margin-right: 150px;
  }